# Exclude IntelliJ IDEA files
*.iml
*.ipr
*.iws
**/.idea/*
**/.idea

# Exclude Eclipse IDE files
**/.classpath
**/.project
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.jdt.core.prefs
**/.settings/org.eclipse.m2e.core.prefs

# Exclude logs, dependencies, temporary files
*.log
tmp
node_modules